################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/Debug/net8.0-windows
/MetaheuristicOptimizer/bin
/MetaheuristicOptimizer/obj
/FitnessFunctions/bin/Debug/net8.0
/FitnessFunctions/obj
/OptimizationAlgorithms/bin/Debug/net8.0
/OptimizationAlgorithms/obj
